<a href="https://colab.research.google.com/github/Reethusree012/assignment-2-/blob/master/Assignment_2_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 1.Print downward Half-Pyramid Pattern with Star (asterisk)

In [5]:
 
def pattern(n):
      for i in range(n, -1, -1):
           for j in range(0, i + 1):
               print("* ", end="")
           print("\r")
 
pattern(4)

* * * * *
* * * *
* * *
* *
*

2. Print multiplication table form 1 to 10.

In [9]:
 
for i in range(1, 10+1):
    for j in range(i, (i*10)+1, i):
            print(j, end="\t")
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100