<a href="https://colab.research.google.com/github/Reethusree012/assignment-2-/blob/master/Assignment_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 1.Write a python program to create a tuple

In [8]:
 
my_tuple = ("hello",)
print(my_tuple)

('hello',)

2.write a python program to create a tuple with different data types.

In [4]:
 # Different types of tuples
 
# Empty tuple
my_tuple = ()
print(my_tuple)
 
# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)
 
# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)
 
# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

 3.write a python program to convert a tuple to a string.

In [10]:
 tup = ('p', 'y', 't', 'h', 'o','n')
str =  ''.join(tup)
print(str)

python

4.write a python program to slice a tuple.

In [11]:
 tuplex = tuple("HELLO WORLD")
print(tuplex)
 _slice = tuplex[2:9:2]
print(_slice) 
 _slice = tuplex[::4]
print(_slice)
 _slice = tuplex[9:2:-4]
print(_slice)

('H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D')
('L', 'O', 'W', 'R')
('H', 'O', 'R')
('L', ' ')

5.Write a python program to the length of a tuple.

In [12]:
 tuplex = tuple("python programming")
print(tuplex)
print(len(tuplex))

('p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g')
18

6.write a python program to reverse a tuple

In [13]:
 x = ("python")
y = reversed(x)
print(tuple(y))

('n', 'o', 'h', 't', 'y', 'p')

 7.write a python program to convert a list to a tuple.

In [14]:
 listx = [5, 10, 7, 4, 15, 3]
tuplex = tuple(listx)
print(tuplex)

(5, 10, 7, 4, 15, 3)