<a href="https://colab.research.google.com/github/Reethusree012/assignment-2-/blob/master/Assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 1.Convert Binary number to decimal.

In [ ]:
b_num=list(input("Enter a binary number")) 
value=0
for i in range(len(b_num)):
 digit=b_num.pop() 
 if digit=='1':
   value =value+pow(2, i) 
print("The decimal value if the number is",value)

Enter a binary number100110
The decimal value if the number is 38

2. Generate first N number of Fibonacci numbers. Take N value from user

In [ ]:
n=int(input("Enter the value of n ")) 
a=0
b=1
sum=0
count=1
print("Fibonacci series",end="") 
while (count<=n):
  print(sum, end="") 
  count+=1
  a=b
  b=sum
  sum=a+b

Enter the value of n 38
Fibonacci series0112358132134558914423337761098715972584418167651094617711286574636875025121393196418317811514229832040134626921783093524578570288792274651493035224157817

3.Display multiplication table of K. Take k value from user

In [ ]:
 
k= int(input("Show the multiplication table of "))   
for i in range(1,11):  
   print(k,'x',i,'=',k*i)

Show the multiplication table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

4.Take 10 integers from keyboard using loop and print their average value on the screen Print the   following patterns using loop : 
     * 
     ** 
     *** 
     ****

In [1]:
sum = 0
 
i = 10
while i>0:
  print ("Enter number")
  num = int(input())
  sum = sum + num
  i = i-1
print ("average is",sum/10.0)
# to print the patern
i = 1
while i<=4:
  print ("*"*i)
  i = i+1

Enter number
1
Enter number
2
Enter number
3
Enter number
4
Enter number
5
Enter number
6
Enter number
7
Enter number
8
Enter number
9
Enter number
10
average is 5.5
*
**
***
****

5.Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers.

In [ ]:
 num1=int(input("enter 1st number:"))
num2=int(input("enter 2nd number:"))
i=1
while(i <= num1 and i <= num2):
  if(num1 % i==0 and num2 % i==0):
    gcd=i
  i=i+1
print("GCD is", gcd)

enter 1st number:12
enter 2nd number:16
GCD is 4

 6.Write a Python program that accepts a word from the user and reverse it.

In [ ]:
 word=input("input a word to reverse:")
 
for char in range(len(word)-1,-1,-1):
  print(word[char],end="")

input a word to reverse:MADAM
MADAM

7.Write a Python program to count the number of even and odd numbers from a series of numbers.

In [ ]:
 numbers=(1,2,3,4,5,6,7,8,9,10)
count_odd=0
count_even=0
for x in numbers:
     if not x % 2:
        count_even+=1
     else:
        count_odd+=1
print("number of even numbers:",count_even)
print("number of odd numbers:",count_odd)

number of even numbers: 5
number of odd numbers: 5

8.Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

In [ ]:
 for x in range(6):
   if (x==3 or x==6):
     continue
   print(x,end ="")

01245