<a href="https://colab.research.google.com/github/Reethusree012/assignment-2-/blob/master/Data_structure_with_python_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Find minimum of three numbers.

In [1]:
 
a=input("enter value of a:")
b=input("enter value of b:")
c=input("enter value of c:")
if(a < b and a < c): 
 
    print(" ais the minimum") 
 
elif(b < a and b < c): 
 
    print(" b is the minimum") 
 
else: 
 
    print(" c is the minimum")

enter value of a:23
enter value of b:21
enter value of c:2
 c is the minimum

 2.find the GCD and LCM of two/three  numbers.

In [2]:
 
 
def gcd(a,b): 
 
    if a == 0: 
 
        return b 
 
    return gcd(b % a, a) 
def lcm(a,b): 
 
    return (a*b) / gcd(a,b) 
a = 12
b = 20
print('LCM of', a, 'and', b, 'is', lcm(a, b))
print('GCD of', a, 'and', b, 'is', gcd(a, b))

LCM of 12 and 20 is 60.0
GCD of 12 and 20 is 4

3.check whether given number is prime or not.

In [4]:
 
Number = int(input(" Enter any Number: "))
Sum = 0
for i in range(1, Number):
    if(Number % i == 0):
        Sum = Sum + i
if (Sum == Number):
    print(" %d is a Perfect Number" %Number)
else:
    print(" %d is not a Perfect Number" %Number)

 Enter any Number: 12
 12 is not a Perfect Number

 4.print twin primes  upto specified limit.

In [8]:
def is_prime(n):
   for i in range(2, n):
      if n % i == 0:
         return False
   return True
 
def generate_twins(start, end):
   for i in range(start, end):
      j = i + 2
      if(is_prime(i) and is_prime(j)):
         print("{:d} and {:d}".format(i, j))
 
generate_twins(20, 100)

29 and 31
41 and 43
59 and 61
71 and 73

 5.print prime numbers up to specified limited.

In [9]:
 
lower = 30
upper = 100
 
print("Prime numbers between", lower, "and", upper, "are:")
 
for num in range(lower, upper + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 30 and 100 are:
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

 6.find the sum of digits of a number is Armstrong number or not.

In [11]:
num = int(input("Enter a number: "))  
sum = 0  
temp = num  
  
while temp > 0:  
   digit = temp % 10  
   sum += digit ** 3  
   temp //= 10  
  
if num == sum:  
   print(num,"is an Armstrong number")  
else:  
   print(num,"is not an Armstrong ")

Enter a number: 121
121 is not an Armstrong

7.Swapping of two numbers

In [13]:
x = input('Enter value of x: ')
y = input('Enter value of y: ')
# create a temporary variable and swap the values
temp = x
x = y
y = temp
 
print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

Enter value of x: 2
Enter value of y: 4
The value of x after swapping: 4
The value of y after swapping: 2

8.perfrom all five arithmetic operator.

In [17]:
 
x = float(input("enter a num : "))
y = float(input ("enter a num : "))
 
print('x + y =',x+y)
 
 
print('x - y =',x-y)
 
 
print('x * y =',x*y)
 
 
print('x / y =',x/y)
 
 
print('x // y =',x//y)
 
print('x ** y =',x**y)

enter a num : 2
enter a num : 3
x + y = 5.0
x - y = -1.0
x * y = 6.0
x / y = 0.6666666666666666
x // y = 0.0
x ** y = 8.0